In [1]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

# Loading Data
df = pd.read_csv(r"C:\Users\DELL\Desktop\70K Data Analysis\data_jobs.csv")

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [5]:
median_salary_year = df['salary_year_avg'].median()

median_salary_year

115000.0

In [8]:
median_salary_hour = df['salary_hour_avg'].median()

median_salary_hour

45.97999954223633

In [13]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [15]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [18]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of original df:      ', len(df_filled)) 
print('Length of dro duplicates df:', len(df_unique))
print('Rows Dropped:               ', len(df_filled) - len(df_unique))

Length of original df:       785741
Length of dro duplicates df: 785640
Rows Dropped:                101

In [ ]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])


print('Length of original df:      ', len(df_filled)) 
print('Length of dropped duplicates df:', len(df_unique))
print('Rows Dropped:               ', len(df_filled) - len(df_unique))

Length of original df:       785741
Length of dro duplicates df: 508042
Rows Dropped:                277699